---
import { Icon } from 'astro-icon/components';
import WidgetWrapper from '../ui/WidgetWrapper.astro';
import Headline from '../ui/Headline.astro';
import type { Widget } from '~/types';

interface Props extends Widget {
  title?: string;
  subtitle?: string;
  buttonText?: string;
  calendlyUrl: string;
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  calendlyUrl = 'https://calendly.com/eugene-venger',
  buttonText = ' Schedule Free Meeting!',

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props as Props;

const onClick = `Calendly.initPopupWidget({url: '${calendlyUrl}'});return false;`;
---

<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet" />
<script is:inline src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-5xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <div
    class="max-w-3xl mx-auto text-center p-6 rounded-md shadow-xl dark:shadow-none dark:border dark:border-slate-600"
  >
    <Headline
      title={title}
      subtitle={subtitle}
      classes={{
        container: 'mb-0 md:mb-0',
        title: 'text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading',
        subtitle: 'text-xl text-muted dark:text-slate-400',
      }}
    />
    <div class="mt-6 max-w-xs mx-auto">
      <a href="#" class="btn btn-primary w-full sm:w-auto" onclick={onClick}>
        <Icon name="tabler:rocket" class="w-5 h-5 mr-1 -ml-1.5 rtl:-mr-1.5 rtl:ml-1" />
        {buttonText}
      </a>
    </div>
  </div>
</WidgetWrapper>
