---
// import Features2 from '~/components/widgets/Features2.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import About from '~/components/react/Tailwind/About';
import SimpleCalendly from '~/components/widgets/SimpleCalendly.astro';
import Header from '~/components/widgets/Header.astro';
import { headerData } from '~/navigation';
// import { Icon } from 'astro-icon/components';
import Process from '~/components/react/Tailwind/Process';
import Stats from '~/components/widgets/Stats.astro';
import { FadeIn, FadeInStagger } from '~/components/react/Animations/FadeIn';
// import CTA from '~/components/ui/CTA.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};

const painpoints = [
  "Struggle with getting quality leads? Let's solve that.",
  "Overwhelmed with growth? I'll help",
  "Uncertain about driving traffic and revenue? I'll clarify and explain.",
  "Struggle to get leads consistently and systematically? We'll sort it out",
  "Had a bad experience with freelancers or employees? I'll show the better way.",
  "Unclear about what drives traffic to your site? We'll analyze it. ",
];

const solutions = [
  'Tailored sales funnels sectors, with proven results.',
  'Expertise in lead generation and conversion to boost your revenue.',
  'Personalized attention to your unique business needs.',
  'Money-back guarantee, no questions asked.',
  'Industry-leading best practices, ensuring cutting-edge solutions for your business.',
  "Guaranteed results tailored to your industry's specific challenges and opportunities.",
];
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header showToggleTheme {...headerData} />
    <!-- Hero Widget ******************* -->

    <WidgetWrapper containerClass={`max-w-7xl `}>
      <About />
    </WidgetWrapper>
    <Stats
      title="Some numbers"
      stats={[
        { title: 'Happy clients', amount: '50+' },
        { title: 'Generated revenue', amount: '~$10.000.000' },
        { title: 'Tasks automated', amount: '120.000+' },
        { title: 'Cups of coffee consumed', amount: '5000+' },
      ]}
    />
    <WidgetWrapper containerClass={`max-w-7xl `}>
      <div class="">
        <div
          class="relative overflow-hidden bg-gray-900 px-6 py-20 shadow-xl sm:rounded-3xl sm:px-10 sm:py-24 md:px-12 lg:px-20"
        >
          <img
            class="absolute inset-0 h-full w-full object-cover brightness-150 saturate-0"
            src="https://images.unsplash.com/photo-1601381718415-a05fb0a261f3?ixid=MXwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8ODl8fHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1216&q=80"
            alt=""
          />
          <div class="absolute inset-0 bg-gray-900/90 mix-blend-multiply"></div>
          <div class="absolute -left-80 -top-56 transform-gpu blur-3xl" aria-hidden="true">
            <div
              class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-r from-[--aw-color-primary] to-[--aw-color-accent] opacity-[0.45]"
              style={{
                clipPath:
                  'polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)',
              }}
            >
            </div>
          </div>
          <div
            class="hidden md:absolute md:bottom-16 md:left-[50rem] md:block md:transform-gpu md:blur-3xl"
            aria-hidden="true"
          >
            <div
              class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-r from-[--aw-color-primary] to-[--aw-color-accent] opacity-25"
              style={{
                clipPath:
                  'polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)',
              }}
            >
            </div>
          </div>
          <div class="relative mx-auto max-w-2xl lg:mx-0">
            <img
              class="h-12 w-auto"
              src="https://static.wixstatic.com/media/ebb11a_7ce61b0de1ca4d38968da401454be682~mv2.png/v1/fill/w_392,h_50,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/LOGO.png"
              alt=""
            />
            <figure>
              <blockquote class="mt-6 text-lg font-semibold text-white sm:text-xl sm:leading-8">
                <FadeIn client:only="react">
                  <p>
                    “Eugene is very knowledgable. We work on a project that was not easy or straightforward but he
                    really took the time to find solutions. He is very enthusiastic and eager to do the job well. Great
                    communication, flexibility and availability.”
                  </p>
                </FadeIn>
                <figcaption class="mt-6 text-base text-white">
                  <div class="font-semibold">Ioana Hardy</div>
                  <div class="mt-1">Managing Director at Impacters Group</div>
                </figcaption>
              </blockquote>
            </figure>
          </div>
        </div>
      </div>
    </WidgetWrapper>

    <WidgetWrapper containerClass={`relative mx-auto max-w-7xl px-4 md:px-6 py-12 md:py-20 lg:py-24 text-default  `}>
      <div class="w-full flex-auto">
        <FadeIn client:only="react">
          <h2
            class="block font-display tracking-tight [text-wrap:balance] text-4xl font-medium sm:text-7xl text-neutral-950"
          >
            Need help with your business?
          </h2>
        </FadeIn>

        <p class="mt-6 text-xl text-neutral-600">Act now to increase your revenue and get ahead of the competition.</p>
        <FadeInStagger client:only="react">
          <ul role="list" class="mt-10 grid grid-cols-1 gap-x-8 gap-y-3 text-base leading-7 sm:grid-cols-2">
            {
              painpoints.map((painpoint) => (
                <FadeIn client:only="react" key={painpoint}>
                  <li class="before:content-['?'] flex gap-x-3">{painpoint}</li>
                </FadeIn>
              ))
            }
          </ul>
        </FadeInStagger>
      </div>

      <div class="w-full flex-auto mt-12 lg:mt-16">
        <FadeIn client:only="react">
          <h2
            class="block font-display tracking-tight [text-wrap:balance] text-4xl font-medium sm:text-7xl text-neutral-950"
          >
            What I Offer
          </h2>
        </FadeIn>

        <!-- <p class="mt-6 text-xl text-neutral-600">Act now to increase your revenue and get ahead of competition.</p> -->
        <FadeInStagger client:only="react">
          <ul role="list" class="mt-10 grid grid-cols-1 gap-x-8 gap-y-3 text-base leading-7 sm:grid-cols-2">
            {
              solutions.map((solution) => (
                <FadeIn client:only="react" key={solution}>
                  <li class="before:content-['✔︎'] flex gap-x-3">{solution}</li>
                </FadeIn>
              ))
            }
          </ul>
        </FadeInStagger>
      </div>
    </WidgetWrapper>

    <div id="process">
      <Process client:load />
    </div>

    <SimpleCalendly
      title="Excited By The Process?"
      subtitle="  Let's delve deeper into your business's potential together. "
      buttonText="Schedule Free Consultation"
      id="contact"
      title="Have a project in mind? 🚀"
      subtitle="  Schedule a free consultation and let's discuss it. "
    />
  </Fragment>
</Layout>
