---
import { Icon } from 'astro-icon/components';

import Image from '~/components/common/Image.astro';
import PostTags from '~/components/blog/Tags.astro';
import SocialShare from '~/components/common/SocialShare.astro';
// import Comments from '../widgets/Comments.astro';
import {getAuthorById, getAllAuthors} from '~/utils/author.astro'
import { getPermalink } from '~/utils/permalinks';
import { getFormattedDate } from '~/utils/utils';

import type { Post } from '~/types';

export interface Props {
  post: Post;
  url: string | URL;
}

const allAuthors = await getAllAuthors();
const { post, url } = Astro.props;
const author = getAuthorById(post.author, allAuthors);
const Content = post?.Content || null;
---

<section class="py-8 sm:py-16 lg:py-20 mx-auto">
  <article>
    <header class={post.image ? '' : ''}>
      <div class="flex justify-between flex-col sm:flex-row max-w-3xl mx-auto mt-0 mb-2 px-4 sm:px-6 sm:items-center">
        <p>
          <Icon name="tabler:clock" class="w-4 h-4 inline-block -mt-0.5 dark:text-gray-400" />
          <time datetime={String(post.publishDate)} class="inline-block">{getFormattedDate(post.publishDate)}</time>
          {
            post.category && (
              <>
                {' '}
                ·{' '}
                <a class="capitalize hover:underline inline-block" href={getPermalink(post.category, 'category')}>
                  {post.category.replaceAll('-', ' ')}
                </a>
              </>
            )
          }
          {post.readingTime && <> · {post.readingTime} min read</>}
        </p>
        <span>By {author.name}</span>
      </div>
      <h1
        class="px-4 sm:px-6 max-w-3xl mx-auto text-4xl md:text-5xl font-bold leading-tighter tracking-tighter font-heading"
      >
        {post.title}
      </h1>
      <p
        class="max-w-3xl mx-auto mt-4 mb-8 px-4 sm:px-6 text-xl md:text-2xl text-muted dark:text-slate-400 text-justify"
      >
        {post.excerpt}
      </p>

      {
        post.image ? (
          <Image
            src={post.image}
            class="max-w-full lg:max-w-[900px] mx-auto mb-6 sm:rounded-md bg-gray-400 dark:bg-slate-700"
            widths={[400, 900]}
            sizes="(max-width: 900px) 400px, 900px"
            alt={post?.excerpt || ''}
            loading="eager"
            width={900}
            height={506}
            loading="eager"
            decoding="async"
          />
        ) : (
          <div class="max-w-3xl mx-auto px-4 sm:px-6">
            <div class="border-t dark:border-slate-700" />
          </div>
        )
      }
    </header>
    <div
      class="mx-auto px-6 sm:px-6 max-w-3xl prose prose-lg lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8"
    >
      {
        Content ? (
          <Content />
        ) : (
          <Fragment set:html={post.content} />
        )
      }

<section class="author-info bg-gray-100 dark:bg-gray-900 p-6 rounded-lg flex items-start shadow-lg">
  {author && (
    <>
      <Image class="rounded-full border-4 border-primary mr-4" 
            src={author.image} alt={author.name}
            widths={[150, 350]}
            sizes="(max-width: 350px) 150px, 350px"
            alt={post?.excerpt || ''}
            loading="eager"
            width={150}
            height={150}
            loading="eager"
            decoding="async"
            
            />
      <div>
        <h3 class="text-2xl font-bold text-primary">{author.name}</h3>
        <p class="text-muted">{author.bio}</p>
        <a href={`https://linkedin.com/in/${author.linkedinHandle}`} target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:underline">
          Connect via Linkedin <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </>
  )}
</section>
    </div>
    <div class="mx-auto px-6 sm:px-6 max-w-3xl mt-8 flex justify-between flex-col sm:flex-row">
      <PostTags tags={post.tags} class="mr-5 rtl:mr-0 rtl:ml-5" />
      <SocialShare url={url} text={post.title} class="mt-5 sm:mt-1 align-middle text-gray-500 dark:text-slate-600" />
    </div>
    <!-- <div class="mx-auto px-6 sm:px-6 max-w-3xl prose prose-lg lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8">
      <Comments id={post.slug} />
    </div> -->
  </article>
</section>
